* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
    margin: 1cm;
    object-fit: cover;
    display: inline-block;
}
table {
    border-collapse: collapse;
}

th{
    border: 1px solid black;
    padding: 8px;
    background-color: black;
    color: white;
}
td{
    border: 1px solid black;
    padding: 8px;
}
#topmenu {
    width: 100%;
    display: flex;
    justify-content: end;
}

#topmenu a {
    width: 10%;
    padding: 5px;
}

#inftech {
    padding: 10px;
}

#topics {
    width: 100%;
    display: flex;
    padding: 10px;
}

#topics div {
    padding: 5px;
}

@media (max-width: 800px) {
    #topics {
      flex-direction: column;
    }
}

#sources {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sources a:hover {
    cursor: pointer;
    color: lime;
}
#form1 input[type="text"],
#form1 input[type="number"]{
    background-color: lightblue;
}

#form1 button {
    background-color: lime;
}